{% extends "admin/base_site.html" %}
{% load i18n l10n static %}

{% block extrahead %}{% endblock %}

{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
        <li>{{ title }}</li>
    </ul>
{% endblock %}

{% block content_title %}{% endblock %}

{% block content %}
<script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/backbone-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/backbone-tastypie.js' %}"></script>
{% endblock %}
